{% extends "base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="row auth-row">
    <div class="col s2 push-s5">
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Username</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" />
            </div>
            <div class="center row"><button class="col s12 waves-effect waves-light btn indigo darken-4" type="submit">Login</button></div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col s6 m6 l6" id="blob-0"></div>
</div>
{% endblock %}
